.App {
  font-family: 'Poppins', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: calc(100% - 2rem);
  max-width: 26rem;
  margin: 2rem auto 2rem;
  position: relative;
}

.title {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 0em;
  margin-top: 2rem;
}

.actionbutton {
  background: white;
  border: none;
  color: rgb(var(--color));
  font-size: 1.4rem;
  padding: 0.4em;
  display: inline-block;
  cursor: pointer;
  width: 100%;
}

.error {
  display: block;
  color: palevioletred;
}