.contactform .button {
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding: 0.5em 0.4em;
    border-radius: 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(var(--color));
    transition: all 0.2s ease;
}

.contactform .button:disabled {
    background-color: rgba(189, 189, 189, 0.5);
}